<a href="https://colab.research.google.com/github/janiosl/python.ds/blob/master/fundamentos/Python_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python: Introdução

## Aula de introdução ao Python

No vídeo deste link usamos este código e outros materiais para realizar uma introdução rápida ao Python como base para estudo de temas intermediários e avançados ensinados em nosso canal Pytho DS.

* Acesse a aula aqui: https://youtu.be/M0TajtNSIhc
* Acesse e inscreva-se no Canal: https://www.youtube.com/c/PythonDS

## Exemplo básico

In [ ]:
nome = 'Janio'
ano_nascimento = 1981
tem_filhos = True

In [ ]:
idade = 2021 - ano_nascimento

In [ ]:
print('Relatório:')
print('Nome:', nome)
print('Idade:', idade, 'anos')

if tem_filhos == True:
  print('Tem filhos')
else:
  print('Não tem filhos')

Relatório:
Nome: Janio
Idade: 40 anos
Tem filhos

##Explorando o exemplo básico

* Variáveis
* Tipos de dados
* Exibição (impressão) de dados na tela
* Lógica condicional

Variáveis e tipos de dados

* Criar uma variável:

Sintaxe `nome = [valor]`
Exemplo: Criar uma variável denominada nome e inserir o valor João da Silva. Resposta: `nome = 'João da Silva'` .

* Verificar o tipo de dados em uma variável:

Sintaxe: `type(variavel)`

Os códigos a seguir apresentam exemplos para as variáveis do nosso exemplo básico.

In [ ]:
nome = 'João da Silva'

In [ ]:
type(nome)

str

In [ ]:
type(ano_nascimento)

int

In [ ]:
type(tem_filhos)

bool

Tipos de dados:

|Tipo|Descrição|Observação|
|----|---------|----------|
|str|String|Recebe cadeia de caracteres (textos)|
|int|Inteiros|Números inteiros em geral|
|float|Ponto flutuante|Números com casas decimais|
|bool|Lógico|Recebe valores lógicos False (falso) ou True (verdadeiro)|

In [ ]:
salario = 5000
print(salario)

5000

In [ ]:
type(salario)

int

In [ ]:
ajustePercentual = 10.5
aumento = (salario * ajustePercentual)/100
salario = salario + aumento

print(ajustePercentual, aumento, salario)

10.5 525.0 5525.0

In [ ]:
type(salario)

float