<a href="https://colab.research.google.com/github/janiosl/python.ds/blob/master/pandas/converterCategorias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Criação de variáveis categóricas a partir de uma variável contínua

## Tutorial Python DS
Tutorial com explicações da aplicação do código disponível no Canal Python DS: https://youtube.com/playlist?list=PL0XxTDj23A1GSZuDOn5w3gunJKOhV267t

Configuração do local do arquivo

In [9]:
"""
Linhas desativadas necessárias apenas para definição
do local de armazenamento do arquivo analisado
"""
#import os
#diretorio = r'D:\Python\PyAD'
#os.chdir(diretorio)

arquivo = 'teste.xlsx'

Carga dos dados usando Panda

In [10]:
import pandas as pd
dados = pd.read_excel(arquivo)

In [11]:
dados.head()

   Altura
0    1.60
1    1.65
2    1.88
3    1.95
4    2.03

Criação de uma nova coluna com a variável categória

In [12]:
import sys

In [13]:
dados['alturaCat']=pd.cut(
        dados['Altura'],
        bins=[0, 1.5, 1.8, sys.maxsize],
        labels=['Baixo', 'Médio', 'Alto']
     )

In [14]:
dados

    Altura alturaCat
0     1.60     Médio
1     1.65     Médio
2     1.88      Alto
3     1.95      Alto
4     2.03      Alto
5     2.10      Alto
6     1.85      Alto
7     1.30     Baixo
8     1.45     Baixo
9     1.50     Baixo
10    1.75     Médio
11    1.70     Médio
12    1.85      Alto
13    1.89      Alto
14    2.10      Alto
15    1.35     Baixo
16    2.00      Alto
17    1.66     Médio
18    1.99      Alto
19    1.81      Alto

Criação de outra coluna com as categorias em formato numérico (inteiro) para uso em algoritmos

In [15]:
dados['alturaCat2']=pd.cut(
    dados['Altura'],
    bins=[0, 1.5, 1.8, sys.maxsize],
    labels=[0,1,2]
)

In [16]:
dados

    Altura alturaCat alturaCat2
0     1.60     Médio          1
1     1.65     Médio          1
2     1.88      Alto          2
3     1.95      Alto          2
4     2.03      Alto          2
5     2.10      Alto          2
6     1.85      Alto          2
7     1.30     Baixo          0
8     1.45     Baixo          0
9     1.50     Baixo          0
10    1.75     Médio          1
11    1.70     Médio          1
12    1.85      Alto          2
13    1.89      Alto          2
14    2.10      Alto          2
15    1.35     Baixo          0
16    2.00      Alto          2
17    1.66     Médio          1
18    1.99      Alto          2
19    1.81      Alto          2